body {
    background-color: #D4EAC8;
}
.btn-custom {
    background-color: #38618C;
    color: white;       
    border: none;
}

p {
    color:  #38618C;
    font-size: 24px;
}
.img-bottle {
    width: 50px;
    height: auto;
}
.drip-img {
    width: 40px;
    height: auto;
}